/* ==================================== */
/* =========== CSS START ============== */
/* ==================================== */

body{
  font-family: 'Ubuntu', sans-serif;
}
ul li{
  list-style: none;
}


/* ==================================== */
/* =========== Header Section ========= */
header{
  background: url(../img/banner-bg.png) no-repeat;
  background-position: left;
  background-size: cover;
  padding: 2px 0 100px;
  height: 125vh;
}
header .navbar{
  padding-left: 0;
}
header .navbar-brand img{
  margin-top: 15px;
  width: 75%;
}

header .nav-item{
  margin-left: 10px;
}
header .nav-link{
  color: #ccc;
}
header .nav-link:hover{
  color: #fff;
}
header .btn-support{
  color: #fff;
  border-radius: 20px;
  border: 1px solid #fff;
  padding-left: 25px;
  padding-right: 25px;
}
header .btn-support:hover{
  background: #fff;
  color: #189ffb;
  border: 1px solid #fff;
}
header .hero{
  margin-top: 100px;
}
header .hero h2{
  color: #fff;
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 300;
}
header .hero p{
  color: #fff;
  margin: 30px 0 50px;
}
header .btn-head{
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  border: 1px solid #fff;
  margin-right: 10px;
  padding: 7px 20px;
}
header .btn-head:hover{
  color: #756aff;
  background: #fff;
  border: 1px solid #fff;
}
header img{
  margin-top: 30px;
}

/* ==================================== */
/* ========== Service Section ========= */

.service-area{
  background: #fff;
  padding: 40px 0 80px;
}
.service-area .service-hero{
  margin-bottom: 20px;
}
.service-area .service-hero h2{
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
.service-area .service-hero p{}
.service-area .service{}
.service-area .service img{
  width: 20%;
  margin-left: 40%;
  margin-top: 30px;
  margin-bottom: 20px;
}
.service-area .card{
  border: 0;
}
.service-area .card h5{
  text-transform: uppercase;
  margin-bottom: 20px;
}
.service-area .card p{
  margin-bottom: 30px;
}

/* ==================================== */
/* =========== Lead Section =========== */

.lead-area{
  background: url(../img/lead-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}
.lead-area h2{
  color: #222;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.lead-area h2 span{
  color: #756aff;
}
.lead-area p{
  line-height: 1.8;
}
.lead-area .btn-lead{
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 8px 30px;
  margin-top: 30px;
  background: linear-gradient(to right,#5d4cfd,#19a5fc);
}
.lead-area .btn-lead:hover{
  background: linear-gradient(to right,#19a5fc,#5d4cfd);
}

/* ==================================== */
/* ========= Projects Section ========= */

.project-area{
  background: url(../img/projects-bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 0 90px;
}
.project-area h2{
  color: #222;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 80px;
}
.project-area h2 span{
  color: #756aff;
}
.project-area .card{
  background: transparent;
  border-color: transparent;
}
.project-area .card .card-title{
  font-size: 32px;
  color: #756aff;
}
.project-area .card p{
  font-size: 18px;
}
.project-area .card:hover{
  box-shadow: 0px 0px 3px #dad7d7;
  cursor: pointer;
}

/* ==================================== */
/* ======== Portfolio Section ========= */

.portfolio-area{
  background: #fff;
  padding: 80px 0;
}
.portfolio-area h2{
  color: #222;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.portfolio-area h2 span{
  color: #756aff;
}
.portfolio-area .btn-port{
  text-transform: uppercase;
  margin: 30px 0 80px;
  padding: 8px 20px;
  color: #111;
  border-color: #756aff;
}
.portfolio-area .btn-port:hover{
  color: #fff;
  background: #756aff;
}

.portfolio-area .port-menu{}
.portfolio-area .port-click{}
.portfolio-area .port-click ul{
  margin: 40px 0 70px;
  padding-left: 0;
  padding: 0;
  border: 2px solid #756aff;
  border-radius: 30px;
}
.portfolio-area .port-click ul li{
  display: inline-block;
  text-align: center;
  margin: 2px 0px;
  padding: 8px 15px;
  border-radius: 20px;
}
.portfolio-area .port-click ul li:first-child{
  margin-left: 0;
}
.portfolio-area .port-click ul li a{
  text-decoration: none;
  text-transform: uppercase;
  color: #111;
}
.portfolio-area .port-click ul li:hover{
  background: #756aff;
}
.portfolio-area .port-click ul li:hover a{
  color: #fff;
}


.portfolio-area .port-item{
  position: relative;
  margin-bottom: 30px;
  transition: all 0.4s linear ease-in;
}
.portfolio-area .port-hover{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
}
.portfolio-area .port-hover ul{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  padding-left: 1rem;
}
.portfolio-area .port-hover ul li{
  list-style: none;
  display: inline-block;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(255,255,255,0.3);
}
.portfolio-area .port-hover ul li a{
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
}
.portfolio-area .port-hover .fa{}
/* Hover Effect */
.portfolio-area .port-item:hover .port-hover{
  opacity: 1;
  cursor: pointer;
}

/* ==================================== */
/* ======= Work with us Section ======= */

.work-area{
  background: url(../img/work-bg.png) no-repeat;
  background-position: top;
  background-size: cover;
  padding: 80px 0;
}
.work-area h2{
  color: #fff;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.work-area p{
  color: #fff;
  width: 60%;
  margin-left: 20%;
  text-align: center;
  margin-bottom: 60px;
}
.work-area form{
  width: 60%;
  margin-left: 23%;
  text-align: center;
}
.work-area form .btn-work{
  color: #fff;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 7px 30px;
  border: 1px solid #19a5fc;
  background: linear-gradient(to right,#5d4cfd,#19a5fc);
}
.work-area .btn-work:hover{
  background: linear-gradient(to right,#19a5fc,#5d4cfd);
}

/* ==================================== */
/* ======= Testimonial Section ======== */

.testimonial-area{
  background: #fff;
  padding: 80px 0;
}
.testimonial-area h2{
  color: #222;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.testimonial-area h2 span{
  color: #756aff;
}
.testimonial-area .head-p{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 70px;
}
.testimonial-area .card{
  background: url(../img/testimonial-card.png) no-repeat;
  background-size: cover;
}
.testimonial-area .card{
  text-align: center;
  margin-bottom: 15px;
  border: 0;
  box-shadow: 0px 1px 8px #888;
}
.testimonial-area .card img{
  height: 110px;
  width: 110px;
  margin-left: 35%;
  margin-top: 40px;
  margin-bottom: 30px;
}
.testimonial-area .card .card-title{
  font-size: 20px;
  text-transform: uppercase;
  color: #7b99fe;
}
.testimonial-area .card .fa-star{
  color: #7b99fe;
}
.testimonial-area .card .fa-test{
  font-size: 20px;
  margin: 10px 0 30px;
}


/* ==================================== */
/* ========= Contact Section ========== */

.contact-area{
  background:linear-gradient(rgba(0,200,0,0.1),rgba(0,200,0,0.1)) no-repeat;
  padding: 80px 0;
}
.contact-area h2{
  color: #222;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.contact-area h2 span{
  color: #756aff;
}
.contact-area p{
  width: 50%;
  margin-left: 25%;
  margin-bottom: 40px;
}
.contact-area .card{
  background: #eef9ff;
  border: 0;
  margin-bottom: 15px;
  box-shadow: 0 0 5px #aaa;
}
.contact-area .card .fa{
  font-size: 40px;
  color: #766eff;
  margin-bottom: 25px;
}
.contact-area .card h6{
  font-weight: 400;
}
.contact-area form{
  padding-top: 30px;
}
.contact-area .form-group{}
.contact-area .form-control{
  background: #eef9ff;
  border: 1px solid #ddd;
}
.contact-area .btn-form{
  color: #fff;
  text-transform: uppercase;
  padding: 8px 50px;
  border-radius: 20px;
  border: 1px solid #19a5fc;
  background: linear-gradient(to right,#5d4cfd,#19a5fc);
}
.contact-area .btn-form:hover{
background: linear-gradient(to right,#19a5fc,#5d4cfd);
}
.contact-area .form-img{
  height: 90%;
}

/* ==================================== */
/* ========== Footer Section ========== */

footer{
  background: linear-gradient(to right,#5d4cfd,#19a5fc);
  padding: 25px 0 10px;
  color: #fff;
}
footer p{
  margin-top: 9px;
}
footer ul{
  list-style: none;
}
footer ul li{
  display: inline-block;
  margin-left: 4px;
}
footer ul li .fa{
  font-size: 36px;
  color: #eee;
}
footer ul li .fa:hover{
  transform: scale(1.05);
}




.....
